h1 {
  color: blue;
}

.selected {
  color: #22bdf0;
}

.task-form {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid grey;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

table td {
  width: 200px;
  text-align: center;
}

#input-form {
  border-top: 1px dashed grey;
}
